@charset "UTF-8";
body {
  background-color: #fff;
  color: #444444;
  list-style: none;
}
body img {
  width: 100%;
  object-fit: cover;
}
body li {
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}
body a {
  color: #444444;
}
body h1 {
  font-size: 2.8rem;
  line-height: 1.2142857143;
  letter-spacing: 0.23em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  writing-mode: vertical-rl;
  background-color: #fff;
}
body h2 {
  font-size: 2.4rem;
  line-height: 1.2083333333;
  letter-spacing: 0em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
body h3 {
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0em;
  font-family: "Noto Sans JP", sans-serif;
}
body h4 {
  font-size: 1.9rem;
  line-height: 1.2631578947;
  letter-spacing: 0em;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 599px) {
  body h4 {
    font-size: 3rem;
  }
}
body h5 {
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0.004em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}
body p {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0em;
  font-family: "Noto Sans JP", sans-serif;
}
body dt {
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}
body dd {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.07em;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-size: 62.5% !important;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.f-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.l-footer {
  width: 100%;
  background-color: #333;
  padding: 35px 0 40px 0px;
}
.l-footer p {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  text-align: center;
  line-height: 0.8;
  letter-spacing: 0.02em;
}

.l-header {
  width: 100%;
  background-color: #fff;
}
.l-header__inner {
  max-width: 1180px;
  margin: 19px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .l-header__inner {
    flex-direction: column;
    text-align: center;
  }
}
.l-header__inner a {
  width: 210px;
  margin: 10px 4%;
}
@media (max-width: 599px) {
  .l-header__inner a {
    width: 50%;
    margin: 0 auto;
  }
}
.l-header__inner img {
  width: 100%;
}
.l-header__connect {
  margin-top: 12px;
  margin-right: 20px;
}
.l-header__connect p {
  font-size: 1.4rem;
  margin-right: 5px;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .l-header__connect p {
    text-align: center;
  }
}
.l-header__connect-tel {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
@media (max-width: 599px) {
  .l-header__connect-tel {
    justify-content: center;
  }
}
.l-header__connect-tel img {
  width: 25px;
  height: 25px;
  margin: 0 5% 0 0;
}
@media (max-width: 599px) {
  .l-header__connect-tel img {
    width: 35px;
    height: 35px;
    margin: 0 2% 0 0;
  }
}
@media (max-width: 599px) {
  .l-header__connect-tel h4 {
    margin: auto 0;
    white-space: nowrap;
  }
}

.p-article__2colum {
  display: flex;
  margin-top: 165px;
}
@media (max-width: 1025px) {
  .p-article__2colum {
    flex-direction: column;
    margin-bottom: 165px;
  }
}
.p-article__2colum-left {
  width: 40%;
  margin-left: 2%;
  margin-top: 35px;
}
@media (max-width: 1025px) {
  .p-article__2colum-left {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
.p-article__2colum-left h2 {
  width: 271px;
  margin: 0 auto;
}
.p-article__2colum-left h2:nth-of-type(2) {
  margin-top: 38px;
  width: 220px;
}
.p-article__2colum-left p {
  margin-top: 35px;
  line-height: 2.3;
}
.p-article__2colum-right {
  width: 60%;
}
@media (max-width: 1025px) {
  .p-article__2colum-right {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
}
.p-article__bg {
  background: #f5fcf8;
  padding: 84px;
  margin-top: 78px;
}
@media (max-width: 599px) {
  .p-article__bg {
    padding: 4%;
  }
}
.p-article__about > h3 {
  background: linear-gradient(transparent 70%, #99e5a5 0%);
  width: 96px;
  margin: 0 auto;
}
.p-article__about > p {
  text-align: center;
  margin-top: 66px;
}
.p-article__about-3colum {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}
@media (max-width: 1025px) {
  .p-article__about-3colum {
    flex-direction: column;
  }
}
.p-article__about-3colum1 {
  width: 32%;
  border: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
}
@media (max-width: 1025px) {
  .p-article__about-3colum1 {
    width: 100%;
    margin-top: 40px;
  }
}
.p-article__about-3colum1 > h3 {
  text-align: center;
  margin-top: 45px;
}
.p-article__about-3colum1 > p {
  line-height: 2.3;
  font-size: 1.6rem;
  margin: 44px 38px 26px 31px;
}
.p-article__about-3colum1 > img {
  width: 50%;
  margin: auto;
  align-items: flex-end;
  margin-bottom: 0;
}
.p-article__news {
  margin-top: 92px;
}
.p-article__news > h3 {
  width: 96px;
  margin: 0 auto;
  background: linear-gradient(transparent 70%, #99e5a5 0%);
}
.p-article__news-cel {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.p-article__news-cel dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  padding: 38px 0 28px;
}
.p-article__news-cel dt {
  display: flex;
  width: 20%;
  margin-left: 5%;
  border-bottom: 2px solid #e7e7e7;
  line-height: 4.7;
}
@media (max-width: 1025px) {
  .p-article__news-cel dt {
    border-bottom: none;
    width: 50%;
  }
}
.p-article__news-cel dd {
  width: 73%;
  margin-top: 16px;
  border-bottom: 2px solid #e7e7e7;
  padding-left: 0px;
  line-height: 1.5;
}
@media (max-width: 1025px) {
  .p-article__news-cel dd {
    width: 100%;
    margin: 4px 4% 4px 5%;
    padding-left: 0;
  }
}
.p-article__news-cel p {
  text-align: end;
  padding-bottom: 20px;
}
.p-article__news-cel p a {
  width: 100px;
  margin-right: 4%;
}
.p-article__add {
  padding: 228px 0 50px 0;
  display: flex;
}
@media (max-width: 1025px) {
  .p-article__add {
    flex-direction: column-reverse;
  }
}
.p-article__add-left {
  width: 55%;
}
@media (max-width: 1025px) {
  .p-article__add-left {
    width: 100%;
    margin-top: 20px;
  }
}
.p-article__add-right {
  margin-left: 3.4%;
  width: 49%;
}
@media (max-width: 1025px) {
  .p-article__add-right {
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
}
.p-article__add-right > p {
  font-size: 1rem;
  text-align: end;
  margin-top: 18px;
}
.p-article__add-right img {
  width: 52%;
}
.p-article__add-right__1 {
  display: flex;
  margin-top: 18px;
}
@media (max-width: 1025px) {
  .p-article__add-right__1 {
    justify-content: center;
    margin-top: 30px;
  }
}
.p-article__add-right__1 p {
  font-size: 1.4rem;
}
.p-article__add-right__1 p:nth-of-type(2) {
  margin-left: 14px;
}
.p-article__add-right__tel {
  display: flex;
  margin-top: 29px;
}
@media (max-width: 1025px) {
  .p-article__add-right__tel {
    justify-content: center;
  }
}
@media (max-width: 1025px) {
  .p-article__add-right__tel h4 {
    font-size: 2.9rem;
    align-items: center;
    margin: auto 0;
  }
}
.p-article__add-right__tel img {
  width: 5%;
  margin: 0 3.5% 0 0;
}
@media (max-width: 768px) {
  .p-article__add-right__tel img {
    width: 8%;
  }
}
@media (max-width: 599px) {
  .p-article__add-right__tel img {
    width: 10%;
  }
}
.p-article__add-right__open {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  padding: 14px 0 19px 0;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}
@media (max-width: 1025px) {
  .p-article__add-right__open {
    width: 80%;
    margin: 20px auto;
  }
}
@media (max-width: 768px) {
  .p-article__add-right__open {
    width: 90%;
  }
}
@media (max-width: 599px) {
  .p-article__add-right__open {
    width: 100%;
  }
}
.p-article__add-right__open dt {
  width: 17%;
  font-size: 1.5rem;
  line-height: 2;
  border-right: 2px solid #e7e7e7;
  text-align: center;
}
.p-article__add-right__open dt:nth-of-type(2) {
  margin-top: 20px;
}
@media (max-width: 1025px) {
  .p-article__add-right__open dt {
    margin: auto 0;
  }
}
@media (max-width: 599px) {
  .p-article__add-right__open dt {
    width: 100%;
    border-right: none;
  }
}
.p-article__add-right__open dd {
  width: 76%;
  line-height: 2;
  flex-wrap: wrap;
  font-size: 1.25rem;
  margin-left: 26px;
}
@media (max-width: 599px) {
  .p-article__add-right__open dd {
    width: 100%;
    border-right: none;
  }
}
.p-article__add-right__open dd > span {
  margin-right: 15px;
}
.p-article__add-right__open dd:nth-of-type(2) {
  margin-top: 22px;
  margin-left: 26px;
}
@media (max-width: 599px) {
  .p-article__add-right__open dd:nth-of-type(2) {
    margin-top: 0;
    margin-left: 0;
  }
}

.p-fv {
  height: 942px;
  background-image: url(../画像/img/fv.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1025px) {
  .p-fv {
    background-position: 69%;
  }
}
.p-fv h1:nth-of-type(1) {
  position: absolute;
  top: 264px;
  left: 392px;
  padding: 25px 32px 40px 37px;
  height: 500px;
}
@media (max-width: 1025px) {
  .p-fv h1:nth-of-type(1) {
    left: 242px;
  }
}
@media (max-width: 599px) {
  .p-fv h1:nth-of-type(1) {
    font-size: 1.8rem;
    top: 686px;
    left: 200px;
    height: 350px;
    padding: 15px;
  }
}
.p-fv h1:nth-of-type(2) {
  position: absolute;
  top: 264px;
  left: 210px;
  padding: 25px 33px 40px 37px;
  height: 500px;
}
@media (max-width: 1025px) {
  .p-fv h1:nth-of-type(2) {
    left: 60px;
  }
}
@media (max-width: 599px) {
  .p-fv h1:nth-of-type(2) {
    font-size: 2rem;
    top: 686px;
    height: 350px;
    padding: 15px;
  }
}

.c-button {
  width: 80px;
  height: 15px;
  font-size: 12px;
  color: #fff;
  background-color: #444;
  padding: 4px 0px;
  text-align: center;
  margin-right: 10px;
  margin-left: 16%;
  margin-top: 16px;
  line-height: 1;
  white-space: nowrap;
}

.c-gmap {
  width: 100% !important;
  height: 443px;
}

.u-fsg {
  color: #21a937;
}
.u-fsug {
  background: linear-gradient(transparent 70%, #99e5a5 0%);
}
.u-fsug2 {
  background: linear-gradient(transparent 70%, #99e5a5 0%);
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */