@use "../global" as *;

body {
  background-color: $background;
  list-style: none;
  img {
    width: 100%;
    object-fit: cover;
  }
  li {
    @include f_style2(1.6, 19, 0);
    font-weight: bold;
    font-family: $ff1;
  }
  a {
    color: black;
  }
  h1 {
    @include f_style2(2.8, 34, 230);
    font-family: $ff1;
    font-weight: bold;
    writing-mode: vertical-rl;

    background-color: $white;
  }
  h2 {
    @include f_style2(2.4, 29, 0);
    font-family: $ff1;
    font-weight: bold;
  }
  h3 {
    @include f_style2(2.4, 24, 0);
    font-family: $ff1;
  }
  h4 {
    @include f_style2(1.9, 24, 0);
    font-family: $ff1;
    @include sp {
      font-size: 3rem;
    }
  }

  h5 {
    @include f_style2(1.6, 30, 4);
    font-weight: bold;
    font-family: $ff1;
    color: white;
  }
  time {
    @include f_style2(1.3, 18, 0);
  }
  p {
    @include f_style2(1.6, 32, 0);
  }
  dt {
    @include f_style2(1.3, 13, 0);
    font-weight: bold;
    font-family: $ff1;
  }
  dd {
    @include f_style2(1.5, 15, 70);
    font-family: $ff1;
  }
  label {
    @include f_style2(1.6, 94, 4);
    line-height: 1;
  }
}
