@use "../global" as *;

.c-button {
  width: 80px;
  height: 15px;
  font-size: 12px;
  color: #fff;
  background-color: #444;
  padding: 4px 0px;
  text-align: center;
  margin-right: 10px;
  margin-left: 16%;
  margin-top: 21px;
  line-height: 1;
  white-space: nowrap;
}
