@use "../global" as *;

.c-button {
  color: $white;
  background-color: #444444;
  width: 82px;
  margin: auto 0;
  margin-right: 34px;
  line-height: 1.75;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#c-BTN1 {
  &.active {
    transform: rotate(360deg);
    transition: all 0.9s;
    margin-top: 30px;
    z-index: 99;
    span {
      &:nth-of-type(1) {
        top: -10px;
        transform: translateY(15px) rotate(-45deg);
        background-color: $white;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 20px;
        transform: translateY(-15px) rotate(45deg);
        background-color: $white;
      }
    }
  }
}

.c-ham-btn {
  color: $white;
  @include tab {
    display: flex;
  }
  position: absolute;
  width: 85px;
  height: 50px;
  z-index: 9999;
  cursor: pointer;
  margin-top: 20px;
  right: 5%;
  margin-right: 3%;
  padding: 0 17px 0 0;
  span {
    position: absolute;
    left: 66px;
    width: 25px;
    height: 2px;
    transition: all 0.4s;
    background-color: $white;
    &:nth-of-type(1) {
      top: 0px;
    }
    &:nth-of-type(2) {
      top: 5px;
    }
    &:nth-of-type(3) {
      top: 10px;
    }
  }
}
