@use "../global" as *;

input,
textarea {
  resize: none;
  appearance: none;
  outline: none;
}

#c-form {
  width: 100%;
  height: 35px;
  @include tab {
    height: 41px;
    margin-top: 7px;
  }
  margin-top: 8px;
  &-content {
    margin-top: 8px;
    width: 100%;
    height: 205px;
    @include tab {
      height: 173px;
    }
    @include sp {
      height: 200px;
    }
  }
  &_check {
    &2 {
      border: 1px solid #333;
      margin-right: 8px;
      width: 18px;
      height: 18px;
      vertical-align: -3px;
      &:checked {
        background-color: #333;
        border: 4px solid #fff;
        box-shadow: 0 0 0 1px #333;
      }
    }
  }
}

.c-form {
  &__title {
    display: flex;
    p {
      text-align: center;
    }
  }
  &__input {
    margin: 0px auto;
    margin-top: 56px;
    @include tab {
      margin-top: 0;
    }
    @include sp {
      margin-top: 55px;
    }
    max-width: 700px;
    padding-right: 11px;
  }

  &__name {
    &1 {
      margin-top: 42px;
      @include tab {
        margin-top: 39px;
      }
    }
    &2 {
      margin-top: 44px;
      @include tab {
        margin-top: 38px;
      }
    }
  }

  &__phone {
    margin-top: 43px;
    @include tab {
      margin-top: 42px;
    }
  }
  &__email {
    margin-top: 46px;
    @include tab {
      margin-top: 39px;
    }
  }
  &__content {
    margin-top: 44px;
    margin-bottom: 30px;
    @include tab {
      margin-top: 39px;
    }
  }
  &__button {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 0 60px;
    margin: 12px auto;
    margin: 6px auto;
    cursor: pointer;
    border: none;
    font-size: 19px;
    font-family: $ff2;
    font-weight: bold;
    margin-bottom: 105px;
    @include tab {
      padding: 4px 66px;
      margin: 6px auto;
      margin-bottom: 176px;
    }
    @include sp {
      margin-bottom: 65px;
    }
  }
}
