@use "../global" as *;

.c-policy {
  width: 100%;

  p {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    overflow-y: scroll;
    border: 1px solid #333;
    height: 252px;
    @include tab {
      height: 179px;
    }
    @include sp {
      height: 226px;
    }
    margin-top: 6px;
  }
}
