@use "../global" as *;

.p-fv {
  position: relative;
  height: 550px;

  background-image: url(../画像/img/fv.png);
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    margin: auto 0px;
    padding: 250px 0px 5px 30px;
    text-align: center;
  }
  h5 {
    text-align: center;
    color: white;
    padding-left: 30px;
  }
}
