@use "../global" as *;

.u-fs {
  &g {
    color: $green;
  }
  &ug {
    background: linear-gradient(transparent 70%, #99e5a5 0%);
    &2 {
      background: linear-gradient(transparent 70%, #99e5a5 0%);
      font-size: 1.6rem;
    }
  }
}
